doctype html
html
    head
        title= title
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Noticia+Text")
        link(rel='stylesheet', href='/css/styles.css')
        link(rel='stylesheet', href='/css/hover-min.css')
    body
        block nav
            section.header
                section.nav
                    ol.menu
                        each item in menu
                            if title == item.title
                                li.menu-item.active
                                    a(href=item.href)= item.title
                            else
                                li.menu-item.hvr-wobble-horizontal
                                    a(href=item.href)= item.title
                        li.menu-item.login.locked(id="menu-item-login")
                            if userName
                                a(href='/users/'+userName)=userName
                            else
                                a(href='/users/login')='🔑'
        div.main-background(style="background-image: url("+ (bUrl || '/images/background/root.png')+");")
        section#main-container
            block content
        footer.footer (c) by
            a(href='http://bjata.ru',target='_blank')=' bjatta '
            at 2017
            a(href='https://nodejs.org',target='_blank')=' NODE.js '
            span='ЦОТ'