extends layout
block content
    h1= title
    p INFORMATION #{title}
    p #{mainContent || ''}
    div.row
        div.single-user-description
            include singleUserInfo
        div.user-info-description
            h1=user.descriptionTitle
            p=user.description